*{
    margin: 0px;
    padding: 0px;
    color:azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

header {
    display: flex;
    background-image: url('./Assets/bg.jpg');
    height: 150px;
    align-items: center;
    justify-content: space-between;
   
}

header img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-right: 15px;
    
}

.name {
    font-size: 60px ;
    text-align: center;
    display: flex;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    margin-right: 25px;
    cursor: pointer;
  
}

div{
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(3, 3, 3);
  
}

h3 {
    text-align: center;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2%;
}

.AboutMeContent, .Work-content, .Contactme-Content {
    width: 80%;
    text-align: center;
    border-left: 2px solid;
}

.project1 {
    background-image: url('./Assets/karaoke.jpg');
    opacity: 80%;
    height: 400px;
    width: 100%;
    border: 1px solid;}

.project-name {
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    background-color: white;
    opacity: 90%;
}

.project2 {
    background-image: url('./Assets/ledwall.jpg');
    height: 200px;
    width: 40%;
    border: 1px solid;
}

.project3 {
    background-image: url('./Assets/calculator.jpg');
    height: 200px;
    width: 40%;
    border: 1px solid;
}

.project4 {
    background-image: url('./Assets/puzzles.jpg');
    height: 200px;
    width: 40%;
    border: 1px solid;
}

.project5 {
    background-image: url('./Assets/runbuddy.jpg');
    height: 200px;
    width: 40%;
    border: 1px solid;
}

.nav-bottom {
    justify-content: space-around;
}
 
@media screen and (max-width: 500px) {
    nav, div {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width: 1200px) {
    
}
    





